RewriteEngine On
RewriteBase /e-news/

# Jangan izinkan akses ke direktori tertentu
RewriteRule ^(config|contents|middlewares)/ - [F,L]

# Tangani URL untuk berita dengan id dinamis, contoh: berita/1
RewriteRule ^news/([0-9]+)$ index.php?url=news&id=$1 [QSA,L]

# Jika bukan direktori atau file, lempar ke index.php dengan parameter URL
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
