:root {
  --text-color: #ffffff;    /* Warna teks */
  --text-color-dark: #000000;    /* Warna teks */
  
  --primary-background: #f8f9fa; /* Latar belakang putih */

  --primary-color: #0056b3; /* Warna tombol utama */
  --buton-logout-color: #5DC6F4; /* Warna tombol logout */

  --font-medium: 400;
  --font-semi-bold: 600;
  --font-bold: 700;
}


.navbar-custom {
  background-color: var(--primary-background); /* Latar belakang putih */
  border-bottom: 2px solid #dee2e6; /* Garis bawah abu-abu */
}
.navbar-custom .navbar-brand {
  color: var(--primary-color); /* Biru tua untuk brand */
  font-weight: var(--font-bold);
}
.navbar-custom .navbar-nav .nav-link {
  font-weight: var(--font-medium);
  color: #6c757d; /* Warna abu-abu lembut untuk link */
}
.navbar-custom .navbar-nav .nav-link:hover {
  color: var(--primary-color); /* Hover link jadi biru tua */
}
.navbar-custom .form-control {
  border: 1px solid #ced4da; /* Warna abu-abu lembut di pencarian */
}
.navbar-custom .btn-search {
  background-color: var(--primary-color); /* Tombol pencarian biru tua */
  color: white;
  border: none;
}
.navbar-custom .btn-search:hover {
  background-color: #003f7f; /* Lebih gelap saat hover */
}
.navbar-custom .btn-login {
  background-color: var(--primary-color); /* Tombol login hijau */
  color: white;
  border: none;
  font-weight: var(--font-semi-bold);
}
.navbar-custom .btn-logout {
  background-color: var(--buton-logout-color);
  color: var(--text-color);
  border: none;
  font-weight: var(--font-semi-bold);
}


.wraper{
  display: flex;
  width: max-content;
  gap: 1rem;
}
.horizontal-scroll{
  width: 100%;
  overflow-x: scroll;
  scrollbar-color: transparent transparent;
}

.horizontal-scroll::-webkit-scrollbar{
  display: none;
}